.login-wrapper {
  body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }

  button {
    cursor: pointer;
  }

  .card-login{
    background-color: #502274;
    color: #ffffff;
    padding: 70px;
  }

  .container {
    height: 100vh;
    width: 100%;
    display: flex;
    overflow: hidden;
    position: relative;
  }

  .logo {
    position: absolute;
    left: 45px;
    font-size: 18px;
    top: 36px;
    text-decoration: none;
    color: black;
  }

  .woman {
    width: 40%;
    padding: 0 50px;
    box-sizing: border-box;
  }

  .login {
    width: 40%;
    box-sizing: border-box;
    padding-top: 75px;
    padding-left: 100px;
  }

  .login-header {
    font-size: 24px;
    margin-bottom: 50px;
  }

  .login input {
    border: 1px solid rgba(155, 155, 155, 0.3);
    border-radius: 3px;
    width: 100%;
    height: 43px;
    display: block;
    margin: 10px 0;
    outline: none;
    font-size: 11px;
    padding-left: 10px;
    box-sizing: border-box;
  }

  .password-div {
    position: relative;
  }

  .password-div button {
    position: absolute;
    top: 0;
    right: 4px;
    height: 26px;
    margin-top: 9px;
    background-color: transparent;
    border: none;
    outline: none;
  }

  .login-social {
    height: 20px;
    display: flex;
    align-items: center;
    position: relative;
    margin: 50px 0 15px;
  }

  .login-social-text {
    text-align: center;
    width: 225px;
    margin: 0 auto;
    background-color: #f0f0f0;
    z-index: 2;
    box-sizing: border-box;
    color: #6c63ff;
    font-size: 10px;
  }

  .login-social-line {
    height: 2px;
    background-color: rgba(155, 155, 155, 0.3);
    position: absolute;
    width: 100%;
    bottom: -8px;
  }

  .social-media-links {
    display: flex;
    height: 40px;
    align-content: center;
    justify-content: center;
  }

  .social-media-links button {
    background-color: transparent;
    border: none;
    margin: 0 5px;
  }

  .submit {
    background-color: #502274;
    width: 100%;
    height: 40px;
    border-radius: 3px;
    border: none;
    color: white;
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
    border: 1px solid;
  }

  .sign-up {
    width: fit-content;
    text-align: center;
    color: #ffffff;
    display: block;
    text-decoration: none;
    font-size: 14px;
    margin: 20px auto;
    outline: none;
  }

  .sign-up:hover {
    border-bottom: 1px solid #502274;
    margin-bottom: 19px;
  }

  .forgot-password,
  .terms-and-conditions {
    font-size: 14px;
    width: 100%;
    text-align: center;
    color: #ffffff;
  }

  .forgot-password a,
  .terms-and-conditions a {
    color: #ffffff;
    text-decoration: none;
  }

  .forgot-password + hr {
    width: auto;
    margin-left: 0;
    margin-bottom: 30px;
    height: 1px;
    background-color: #e2e1e7;
    border: none;
  }

  .login a:hover:not(.sign-up) {
    border-bottom: 1px solid #6c63ff;
  }

  @media (min-height: 700px) and (min-width: 800px) {
    .login {
      padding-top: 165px;
    }
  }

  @media (max-width: 1000px) {
    .woman {
      display: none;
    }
    .login {
      width: 80%;
      margin: 100px auto;
      padding: 0;
    }
  }

  @media (max-width: 500px) {
    .logo {
      left: 30px;
    }
  }

  @media (max-height: 650px) {
    .container {
      overflow: auto;
    }
  }
}
